name: Delete Deployments
on: workflow_dispatch  # 手动触发
jobs:
  delete:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Delete Deployment Environment
        uses: strumwolf/delete-deployment-environment@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}  # 需要 admin 权限的 token
          environment: github-pages  # 指定环境名称，如 'production'
          onlyRemoveDeployments: true  # 只删除部署，不删环境